[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
"flake8" = "*"
pylint = "*"
"flake8-import-order" = "*"
"flake8-docstrings" = "*"

[requires]
python_version = "3.7"
